{% extends "::base.html.twig" %}

{% block body %}

    <h2 id="pageWidthKeeper">Welcome to the CartController:showCartItems page</h2>

    <div class="list">
        <a href="{{ path('app_admin_addproduct') }}" class="btn btn-primary">
            <i class="fa fa-plus"></i>Add product
        </a>
    </div>

    <div class="list">
        <a href="{{ path('app_cartcontroller_addtocart') }}" class="btn btn-primary">
            <i class="fa fa-plus"></i>TEST BUTTON
        </a>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col" >CART </th>
            <th scope="col" >Quantity</th>
            <th scope="col" >ProductID</th>
            <th scope="col" >CARTid</th>
            <th colspan="2" width="10%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for cart in cartItems %}
                <td>  {{ cart.id }}  </td>
                <td>  {{ cart.cookie }}  </td>
                <td>  {{ cart.cartTime }}  </td>
                <td>
                    <a href="{{ path('app_cartcontroller_removefromcart',{id:cart.id}) }}" class="text-danger"><i
                                class="fa fa-times"></i> </a>
                </td>
            <td>
                <a href="{{ path('app_admin_editproduct',{id:cart.id}) }}"><i class="fa fa-edit"></i>
                </a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>




{% endblock %}
